body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #333;
    background-color: #f9f9f9;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 8px;
}
h1, h2{
    color: #2c3e50;
    margin-bottom: 5px;
    text-align: left;
}
hr {
    border: 0;
    border-top: 2px solid #2c3e50;
    margin: 10px 0 20px 0;
}

.edu-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edu-right {
    margin-left: auto;
    text-align: right;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right {
    margin-left: auto;
    text-align: right;
}

