body {
    background: LightSkyBlue;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: LightSlateGrey;
    text-align: center;
} 
.projects 
{ 
    display:flex; 
	flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(white);
display: block;
margin: auto;
text-align: center;
}

.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}